{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="post-wrap padding-large overflow-hidden">
      <div class="container">
        <div class="row">
          <main class="post-grid">
            <div class="row">
              <article class="post-item mt-5">
                <div class="post-content">
                  <div class="post-meta text-uppercase">
                    <span class="post-category">Feb 22, 2023  </span> / <span class="meta-date">-  technology</span>
                  </div>
                  <h1 class="post-title">TECHNOLOGY HACK YOU WON’T GET</h1>
                  <div class="hero-image col-lg-12 mt-5">
                    <img src="{% static "images/single-post.jpg" %}" alt="single-post" class="img-fluid">
                  </div>
                  <div class="post-description review-item padding-medium">
                    <p>
                      <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur facilisis vivamus massa magna. Blandit mauris libero condimentum commodo morbi consectetur sociis convallis sit. Magna diam amet justo sed vel dolor et volutpat integer. Iaculis sit sapien hac odio elementum egestas neque. Adipiscing purus euismod orci sem amet, et. Turpis erat ornare nisi laoreet est euismod.</strong>
                    </p>
                    <p>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus, vel. Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in vestibulum erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae neque bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt tellus sit ornare. Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt nunc integer sit.</p>
                    <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus, vel.</blockquote>
                    <p>
                      <strong>Are you amazed ?</strong>
                    </p>
                    <ul style="list-style-type:disc;" class="inner-list">
                      <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                      <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                      <li>Laculis sit sapien hac odio elementum egestas neque.</li>
                    </ul>
                    <p>Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in vestibulum erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae neque bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt tellus sit ornare. Purus ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt nunc integer sit.</p>
                    <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus. Nunc tempus feugiat massa laoreet ultrices diam magna quam. Congue auctor auctor luctus neque. Enim lorem ultrices diam donec. Sed id placerat consectetur faucibus.</p>
                    <img src="{% static "images/post-image.jpg" %}" alt="img-fluid" class="align-left pt-3 pe-3 pb-3">
                    <img src="{% static "images/post-image1.jpg" %}" alt="img-fluid" class="align-left">
                    <p>
                      <strong>Velit, praesent pharetra malesuada</strong>
                    </p>
                    <p>Id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                    <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                    <p>Velit, praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                    <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                    <p>Praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                    <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                    <div class="post-bottom-link d-flex justify-content-between">
                      <div class="block-tag">
                        <ul class="list-unstyled d-flex">
                          <li class="pe-3">
                            <a href="#">Tech</a>
                          </li>
                          <li class="pe-3">
                            <a href="#">Tips</a>
                          </li>
                          <li class="pe-3">
                            <a href="#">Gadgets</a>
                          </li>
                        </ul>
                      </div>
                      <div class="social-links d-flex">
                        <div class="element-title pe-2">Share:</div>
                        <ul class="d-flex list-unstyled">
                          <li>
                            <a href="#">
                              <svg class="facebook">
                                <use xlink:href="#facebook"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg class="instagram">
                                <use xlink:href="#instagram"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg class="twitter">
                                <use xlink:href="#twitter"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg class="linkedin">
                                <use xlink:href="#linkedin"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg class="youtube">
                                <use xlink:href="#youtube"></use>
                              </svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="single-post-navigation" class="mb-5">
                    <div class="post-navigation d-flex flex-wrap align-items-center justify-content-between">
                      <a itemprop="url" class="post-prev d-flex align-items-center" href="">
                        <svg class="chevron-left">
                          <use xlink:href="#chevron-left"></use>
                        </svg>
                        <span class="page-nav-title text-uppercase">Get some cool gadgets in 2023</span>
                      </a>
                      <a itemprop="url" class="post-next d-flex align-items-center" href="">
                        <span class="page-nav-title text-uppercase">TOP 10 SMALL cAMERA IN THE WORLD</span>
                        <svg class="chevron-right">
                          <use xlink:href="#chevron-right"></use>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </article>
              <section id="post-comment">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="comments-wrap">
                        <h2 class="display-6 fw-normal text-dark text-uppercase">
                          <span class="count">3</span> Comments
                        </h2>
                        <div class="comment-list padding-small">
                          <article class="comment-item d-flex flex-wrap mb-3">
                            <div class="col-lg-1 col-sm-3 me-4 mb-3">
                              <img src="{% static "images/commentor-item1.jpg" %}" alt="default" class="img-fluid">
                            </div>
                            <div class="col-lg-10 col-sm-9 author-wrap">
                              <div class="author-post">
                                <div class="comment-meta d-flex">
                                  <div class="author-name fw-bold text-uppercase pe-1">Sam Smith</div>
                                  <span class="meta-date">Jul 10</span>
                                </div>
                                <p class="no-margin">Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus. Tortor diam dignissim amet, in interdum aliquet. Nascetur libero elementum adipiscing mauris maecenas et magna.</p>
                                <div class="comments-reply">
                                  <a href="#" class="btn btn-normal text-primary">Reply Now</a>
                                </div>
                              </div>
                            </div>
                          </article>
                          <article class="comment-item d-flex child-comments flex-wrap ps-5 mb-3">
                            <div class="col-lg-1 col-sm-3 me-4 mb-3">
                              <img src="{% static "images/commentor-item2.jpg" %}" alt="default" class="img-fluid">
                            </div>
                            <div class="col-lg-10 col-sm-9 author-wrap">
                              <div class="author-post">
                                <div class="comment-meta d-flex">
                                  <div class="author-name fw-bold text-uppercase pe-1">Santie Mary</div>
                                  <span class="meta-date">Jul 10</span>
                                </div>
                                <p class="no-margin">Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.</p>
                                <div class="comments-reply">
                                  <a href="#" class="btn btn-normal text-primary">Reply Now</a>
                                </div>
                              </div>
                            </div>
                          </article>
                          <article class="comment-item d-flex flex-wrap">
                            <div class="col-lg-1 col-sm-3 me-4 mb-3">
                              <img src="{% static "images/commentor-item3.jpg" %}" alt="default" class="img-fluid">
                            </div>
                            <div class="col-lg-10 col-sm-9 author-wrap">
                              <div class="author-post">
                                <div class="comment-meta d-flex">
                                  <div class="author-name fw-bold text-uppercase pe-1">Analisa Nora</div>
                                  <span class="meta-date">Jul 10</span>
                                </div>
                                <p class="no-margin">Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.</p>
                                <div class="comments-reply">
                                  <a href="#" class="btn btn-normal text-primary">Reply Now</a>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                      <div class="comment-respond mt-3">
                        <h2 class="display-6 fw-normal text-dark text-uppercase">Leave a Comment</h2>
                        <form method="post" class="form-group padding-small">
                        <p>Your email address will not be published. Required fields are marked *</p>
                          <div class="row">
                            <div class="col-lg-12 mb-3">
                              <textarea class="form-control ps-3 pt-3" id="comment" name="comment" placeholder="Write your comment here *"></textarea>
                            </div>
                            <div class="col-lg-6 mb-3">
                              <input class="form-control ps-3" type="text" name="author" id="author" placeholder="Write your full name here *">
                            </div>
                            <div class="col-lg-6">
                              <input class="form-control ps-3" type="email" name="email" id="email" placeholder="Write your e-mail address *">
                            </div>
                            <div class="col-lg-12">
                              <label class="d-flex align-items-center">
                                <input type="checkbox" class="checked-box me-2">
                                <span class="label-body">Save my name, email, and website in this browser for the next time.</span>
                              </label>
                            </div>
                            <div class="col-lg-12 mt-3">
                              <button class="btn btn-medium btn-black text-uppercase btn-rounded-none" type="submit">Post Comment </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </main>
        </div>
      </div>
    </div>
    <section id="related-posts" class="padding-large">
      <div class="container">
        <div class="row">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">Related Posts</h2>
            <div class="btn-right">
              <a href="#" class="btn btn-medium btn-normal text-uppercase">Read Blog</a>
            </div>
          </div>
          <div class="post-grid d-flex flex-wrap justify-content-between">
            <div class="col-lg-4 col-sm-12 pe-3">
              <div class="card border-none">
                <div class="card-image">
                  <img src="{% static "images/post-item1.jpg" %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">feb 22, 2023</span>
                  <span class="meta-category">- Gadgets</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Get some cool gadgets in 2023</a>
                </h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12 pe-3">
              <div class="card border-none">
                <div class="card-image">
                  <img src="{% static "images/post-item2.jpg" %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">feb 25, 2023</span>
                  <span class="meta-category">- Technology</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Technology Hack You Won't Get</a>
                </h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12 pe-3">
              <div class="card border-none">
                <div class="card-image">
                  <img src="{% static "images/post-item3.jpg" %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">feb 22, 2023</span>
                  <span class="meta-category">- Camera</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Top 10 Small Camera In The World</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="subscribe" class="container-grid position-relative overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
            <div class="col-md-6 col-sm-12">
              <div class="display-header pe-3">
                <h2 class="display-7 text-uppercase text-light">Subscribe Us Now</h2>
                <p>Get latest news, updates and deals directly mailed to your inbox.</p>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <form class="subscription-form validate">
                <div class="input-group flex-wrap">
                  <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Your email address here" required="">
                  <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
